@font-face {
  font-family: 'Minecraftia';
  src: url('/fonts/Minecraftia.tff.ttf') format('truetype');
}

body {
  background-color: #1E1E1E;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
  text-align: center;
}

#movieTitle {
  font-size: 60px;
  font-family: 'Minecraftia', sans-serif;
  color: gold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0 #000;
}

h2 {
  font-size: 32px;
  color: limegreen;
  text-shadow: 1px 1px 0 #000;
  margin-top: 40px;
  margin-bottom: 30px;
}

ol {
  list-style-type: decimal;
  padding-left: 0;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

ol > li {
  font-size: 24px;
  color: #00ff00;
  font-weight: bold;
  margin-top: 20px;
}

ul {
  list-style-type: square;
  padding-left: 20px;
  margin-top: 10px;
  color: #dddddd;
  font-size: 18px;
}

img {
  display: block;
  margin: 0 auto 20px auto;
  width: 300px;
  border: 4px solid #444;
  box-shadow: 0 0 15px #000;
}

a {
  display: inline-block;
  color: #00ccff;
  font-size: 20px;
  text-decoration: none;
  margin: 10px 0 30px 0;
}

a:hover {
  color: #ffcc00;
  text-shadow: 1px 1px 2px #000;
}

iframe {
  display: block;
  margin: 40px auto;
  border: 4px solid #444;
  box-shadow: 0 0 20px #000;
}

.header-container, .quotes-container, .trailer-container {
  margin-bottom: 40px;
  padding: 20px;
}

hr {
  border: none;
  height: 2px;
  background-color: #444;
  width: 80%;
  margin: 40px auto;
}

.nav-links {
  text-align: center;
  background-color: #2C2C2C;
  padding: 10px 0;
  margin-bottom: 20px;
}

.nav-links a {
  color: gold;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
}

.nav-links a:hover {
  color: #00ff00;
  text-shadow: 1px 1px 2px black;
}

.tableau-container {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}